//fonts
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

$aboreto: 'Aboreto', cursive;

// sass variables
$pink: #a8328b;
$blue: #383391;
$green: #1aed41;

// css rules
h1 {
  color: $pink;
  font-family: $aboreto;
}

h3 {
  color: $green;
}

// class selector has . in front of it
.box-body {
  background-color: $blue
}